
/* #region Defaiult Resets */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  max-width: 100vw !important;
}

body {
  margin: auto;
}

* {
  box-sizing: border-box;
}

main {
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}


/* #endregion Default Resets */

/* #region  Global Variables */
:root {
  --main-bg-color: rgb(255, 68, 34);
  --second-bg-color: #feecea;
  --footer-color: #141414;
  --main-font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  --main-line-height: 22.5px;
}

/* #endregion Global Variables */

/* #region  Utility Classes */

/* #endregion Utility Classes */

/* #region  State Rules */

/* #endregion State Rules */

/* #region  Base Rules */

/* #endregion Base Rules */

/* #region  Layout Rules */

/* #endregion Layout Rules */

/* #region  Module Rules */

/* #region  Navbar */

header {
  height: 112px;
  position: relative;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

.logo_tablet {
  position: absolute;
  background-color: yellow;
  top: 0;
  left: 0;
  height: 52px;
}

.logo_tablet > img {
  height: 77px;
  width: 120px;
}

.logo_mobile {
  position: absolute;
  background-color: orange;
  top: 0;
  left: 0;
}

.logo_mobile > img {
  width: 63px;
  height: 37px;
}
 
a {
  text-decoration: none;
}

.black {
  display: flex;
  flex-direction: row;
  height: 32px;
  background-color: #011;
  font-size: 0.8em;
}

.black_left {
  background-color: #011;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  width: 65%;
}

.black_center {
  width: 125px;
}

.black_right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #011;
  width: 35%;
  text-align: center;
  align-items: center;
}

.black_left > a,
.black_right > a {
  color: white;
}

.white {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  align-items: center;
  height: 48px;
  font-size: 0.8em;
  font-weight: 500;
}

.awb {
  color: black;
}

.yellow {
  background-color: yellow;
  height: 30px;
}

.yellow a {
  color: black;
  font-size: 1em;
  padding-left: 36px;
}

/* #endregion Navbar */


/* #region  Three Images */

.o_three_images {
  display: grid;
  font-weight: 700;
  grid-template-columns: minmax(0%, 70%) minmax(0%, 30%);
  grid-template-rows: minmax(0%, 50%) minmax(0%, 50%);
  column-gap: 10px;
  margin-bottom: 10px;
  text-align: left;
  font-family: sans-serif;
  color: #fff;
  padding: 3px;
  max-width: 100%;
}

.m_three_images_one {
  padding: 4px;
  position: relative;
  width: 100%;
  height: 630px;
  background-image: url(Assets/m_three_images\ three_im.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cover_one {
  position: absolute;
    padding: 1em;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.7;
    background-image: linear-gradient(to right bottom, rgb(247, 88, 88) 18%, transparent, rgb(10, 10, 10) 90%);
}

.a_three_images_logo {
  background-image: url(Assets/tnw.svg);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 65%;
  height: 36%;
  max-height: 131px;
  line-height: 1;
  z-index: 10;
}

.cover-date {
  color: #fff;
  position: absolute;
  top: 20px;
  right: 24px;
  z-index: 5;
}

.text_block_one {
  position: absolute;
  left: 0;
  top: 78%;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  top: 426px;
  font-size: 3rem;
  font-weight: 700;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

.text_block_one h4 {
  font-size: 1.1rem;
}

.tech_date {
  font-size: 0.7rem;
  padding-top: 20px;
}

.m_three_images_two {
  background:  linear-gradient(to right bottom, rgb(247, 88, 88) 18%, transparent, rgb(10, 10, 10) 90%), url(Assets/0567_BF2_5846.jpg);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1em;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  margin-bottom: 10px;
  position: relative;
}

.text_block_two {
  position: absolute;
  color: white;
  font-size: x-large;
  padding-left: 20px;
  padding-right: 20px;
  top: 146px;
  line-height: 1.3;
  font-weight: 700;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

.m_three_images_three {
  background:  linear-gradient(to right bottom, rgb(247, 88, 88) 18%, transparent, rgb(10, 10, 10) 90%), url(Assets/bitcoin_today-header_bitcoin_today-512x270.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1em;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  position: relative;
}

.text_block_three {
  position: absolute;
  color: white;
  font-size: x-large;
  padding-left: 20px;
  padding-right: 20px;
  top: 145px;
  line-height: 1.3;
  font-weight: 700;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* #endregion Three Images */

/* #region  Latest News */
.m_latest_news_grid{
  display:grid;
  grid-gap: 5px;
grid-template-columns: repeat(4,20%);
grid-template-rows: repeat(3,100px);
}

.latest_news_text{
  color:blue;

}

/* #endregion  Latest News */

/* #region  Middle Box */
.o_middle_box{
  height:800px; sdcsdcsd
}



.m_middlebox_title{
  color:red;
  
}

.m_middlebox_title>h5{
  display: inline;
  color:red;
  margin: 10px;
}

.m_middlebox_cards_container{
  background-color: pink;
}

.m_middlebox_cards_middle >h1{
  
  outline:(1px solid red);
}


.m_middlebox_cards_footer{
  background-color: lightpink;
}

/* #endregion Middle Box*/

/* #endregion Module Rules */

/* #region  Component Rules */



/* #endregion  Component Rules */

 /* #region  Footer */
  
 footer {
  max-width: 100%;
  color: whitesmoke;
  text-align: center;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}
 
 .social_icons {
   padding: 12px;
}
 
 .social_icons i:hover {
   background-color: #141414;
}

 .foot_menu {
  padding: 12px;
}
 
 a {
  text-decoration: none;
  color: whitesmoke;
}

 .footer_top {
   background-color: #0f0f0f;
   margin: 0 auto;
   padding: 20px 0;
   height: 155px;
   line-height: 2.5em;
}
 
 .social,
 .menu_bottom {
   display: flex;
   flex-direction: row;
   justify-content: center;
   font-size: 0.9em;
}

 .social_icons > i {
   background: #333;
   border-radius: 50%;
   display: block;
   height: 35px;
   padding: 10px;
   text-align: center;
   width: 35px;
   cursor: pointer;
   border: 1px solid #011;
}

 .footer_bottom {
   padding: 48px;
   background: #000;
   color: #aaa;
   font-size: 0.9em;
   text-align: center;
}

.image_svg {
  width: 58px;
  height: 21px;
}

 b {
   color: rgb(163, 36, 36);
}
 
 
/* #endregion  Footer */


/* #region  Media Queries */

@media only screen and (min-width: 1024px) {
  body {
    background-color: lightgreen;
  }

  .logo_tablet {
    display: none;
    visibility: hidden;
  }

  .logo_mobile {
    display: none;
    visibility: hidden;
  }

  .menu {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  body {
    background-color: purple;
  }

  .o_navbar_black {
    background-color: black;
    width: 100%;
  }

  .m_navbar_sites {
    color: white;
    float: left;
  }

  .m_navbar_about {
    color: white;
    float: right;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-color: pink;
  }

  .logo_mobile {
    visibility: hidden;
  }

  .black,
  .white {
    padding-left: 130px;
    font-size: 0.6em;
  }

  .black_right,
  .awb-1 {
    display: none;
  }

  .a_three_images_logo {
    display: none;
  }

  .text_block_one {
    top: 321px;
  }

  .text_block_two a {
    line-height: 1;
    font-size: 0.6em;
}

 .text_block_three {
  top: 167px;
  line-height: 1;
  font-size: 1em;
 }

  .menu {
    visibility: hidden;
  }

  .menu_bottom {
    font-size: 0.7em;
  }

  .footer_bottom {
    font-size: 1em;
  }

}

@media only screen and (max-width: 320px) {
  body {
    background-color: lightblue;
  }

  .logo_tablet {
    display: none;
  }

  .logo_mobile {
    visibility: visible;
    top: 0;
  }
  
  .black,
  .awb {
    display: none;
  }

  .white {
    justify-content: space-evenly;
    height: 40px;
  }

  .menu {
    visibility: visible;
    color: red;
  }

  .yellow a {
    font-size: 0.5em;
  }

  .o_three_images {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0%, 100%) minmax(0%, 100%) minmax(0%, 100%);
}

 .m_three_images_one {
  font-size: 1em;
  grid-column: 1;
  grid-row: 1;
  min-height: 200px;
  margin-bottom: 10px;
}

.text_block_one {
  top: 295px;
}

.cover_date {
  display: none;
}

.tech_date {
  font-size: x-small;
}

.m_three_images_two {
  font-size: 1em;
grid-column: 1;
grid-row: 2;
margin-bottom: 0;
margin-bottom: 10px;
}

.text_block_two {
  left: 15px;
    top: 445px;
    font-size: 0.9em;
}

.m_three_images_three {
  font-size: 1em;
  grid-column: 1;
  grid-row: 3;
  margin-bottom: 0;
  margin-bottom: 10px;
}

.text-block_three {
  left: 18px;
  top: 639px;
  font-size: 0.9em;
}

.tech_date {
  font-size: 0.6em;
}
  
  .hidden {
    display: inline-block;
  }

   .social_icons {
   padding: 4px;
  }

  .rss {
     display: none;
 }

  .foot_menu {
     font-size: 0.9em;
     font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
     padding: 7px;
 }
   
 .image_svg {
  width: 28px;
  height: 17px;
 }
}

/* #endregion */
